{"openapi":"3.0.0","info":{"title":"Pria Runtime API","version":"2.0.1","description":"Pria Admin API Documentation Praxis's developer platform is a core part of our mission to empower organizations to grow better. Our APIs are designed to enable teams of any shape or size to build robust integrations that help them customize and get the most value out of Pria. All Pria APIs are built using REST conventions and designed to have a predictable URL structure. <br/>  <br/>They use many standard HTTP features, including methods (POST, GET, PUT, DELETE) and error response codes.  <br/> <br/>All API calls are made under https://hiimpria.ai/api and all responses return standard JSON.In these docs, you'll find lists of all available endpoints for a given API, along with interactive code blocks for building requests. For walkthroughs of basic usage for these APIs, check out the API guides."},"servers":[{"url":"https://pria.praxislxp.com","description":"Pria Runtime API Server"}],"paths":{"/api/test/db":{"get":{"summary":"Check database connection status","description":"Returns the current database connection status with explanatory message","responses":{"200":{"description":"Database connection status retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabaseStatusResponse"},"example":{"message":"0: disconnected, 1: connected, 2: connecting, 3: disconnecting, 4: invalid credentials","status":1}}}}},"tags":["Testing"]}},"/api/test/health":{"get":{"summary":"Health check endpoint to verify service status","description":"Returns the current health status of the service including uptime, memory usage, and dependency status","responses":{"200":{"description":"Service is healthy and operational","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthResponse"},"example":{"status":"ok","uptime":112.368138,"timestamp":1750534150795,"memory":{"rss":128008192,"heapTotal":72105984,"heapUsed":67442352,"external":23693540,"arrayBuffers":19882176},"dependencies":{"database":1}}}}}},"tags":["Testing"]}},"/api/test/url":{"post":{"summary":"Test a URL and retrieve associated information","description":"Tests a provided URL and returns LTI assignment status, generated identifiers, and other metadata","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestUrlRequest"}}}},"responses":{"200":{"description":"URL test completed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestUrlResponse"}}}},"400":{"description":"Bad request - invalid URL format"},"500":{"description":"Internal server error"}},"tags":["Testing"]}},"/api/agent/branding":{"post":{"summary":"Retrieve agent (Digital Twin, a.k.a. instance) branding information","description":"Gets the branding details for the AI agent (digital twin a.k.a. instance) including profile picture, aimated picture, background image, description, name, about and status","tags":["Agent"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgentBrandingRequest"}}}},"responses":{"200":{"description":"Successfully retrieved agent branding information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgentBrandingResponse"}}}}}}},"/api/auth/signin":{"post":{"summary":"User authentication and sign-in","description":"Authenticates a user with email and password, returns JWT token and user profile","tags":["Authentication"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignInRequest"}}}},"responses":{"200":{"description":"Successful authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignInResponse"}}}},"400":{"description":"Bad request - missing required fields","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"success":{"type":"boolean"}}}}}},"401":{"description":"Invalid credentials","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"success":{"type":"boolean"}}}}}}}}},"/api/auth/autosignup":{"post":{"summary":"Automatic user signup and authentication","description":"Creates or authenticates a user account automatically based on LXP integration data","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutoSignupRequest"}}}},"responses":{"200":{"description":"Successful authentication with user profile and token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutoSignupResponse"}}}},"400":{"description":"Bad request - invalid input data"},"401":{"description":"Unauthorized - invalid or missing authentication token"},"500":{"description":"Internal server error"}},"tags":["Authentication"]}},"/api/auth/createInstitutionForContextid":{"post":{"summary":"Create a new institution for a specific context ID","description":"Creates a new institution record with the provided configuration and context information","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateInstitutionRequest"}}}},"responses":{"200":{"description":"Institution created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateInstitutionResponse"}}}},"400":{"description":"Bad request - Invalid input data"},"401":{"description":"Unauthorized - Invalid or missing access token"},"500":{"description":"Internal server error"}},"tags":["Institutions"]}},"/api/ai/personal/qanda":{"post":{"summary":"Process personal Q&A requests with AI assistant","description":"Handles conversational AI interactions with context awareness including user location, timezone, and course selection","security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QandARequest"},"example":{"id":1750660464754,"requestArgs":{"userISODate":"2025-06-23T06:34:24.754Z","userTimezone":"Indian/Mauritius","userGPSCoordinates":{"accuracy":21126.837004634195,"latitude":-21.282816,"longitude":55.4139648,"altitude":null,"altitudeAccuracy":null,"heading":null,"speed":null},"socketId":"DhXE7OVjCtfUmDFTAAAB","selectedCourse":{"course_id":1750532703472,"course_name":"SwaggerAnnotation Generator Saturday, Jun 21, 2025","assistant":{"_id":"6856fa89cbafcff8d98680f5","name":"SwaggerAnnotation Generator","picture_url":""},"history_count":21,"last_dialogue_date":"2025-06-23T06:34:12.779Z"},"ragOnly":false},"inputs":["hi"],"outputs":[]}}}},"responses":{"200":{"description":"Successful AI response with conversation data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QandAResponse"},"example":{"success":true,"streamingFailed":true,"outputs":["Hello! 👋 I'm the SwaggerAnnotation Generator assistant..."],"usage":20287,"credits":1244,"creditsUsed":7083,"totalLength":20287,"totalCredits":3,"query_duration_ms":11088,"model":"us.anthropic.claude-sonnet-4-20250514-v1:0"}}}},"400":{"description":"Bad Request - Invalid request format or missing required fields","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","example":"Invalid request format"}}}}}},"401":{"description":"Unauthorized - Invalid or missing authentication token","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","example":"Unauthorized access"}}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","example":"Internal server error"}}}}}}},"tags":["AI Personal Assistant"]}},"/api/user/refresh/profile":{"post":{"summary":"Refresh user profile data","description":"Retrieves and refreshes the current user's profile information","tags":["User Commands"],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Profile refreshed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefreshProfileResponse"}}}},"401":{"description":"Unauthorized - Invalid or missing access token"},"500":{"description":"Internal server error"}}}},"/api/user/refresh/entitlements":{"post":{"summary":"Refresh user entitlements and permissions","description":"Retrieves and refreshes the current user's entitlements across all institutions and accounts they have access to","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Successfully refreshed user entitlements","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefreshEntitlementsResponse"}}}},"401":{"description":"Unauthorized - Invalid or missing access token","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"message":{"type":"string","example":"Unauthorized access"}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"message":{"type":"string","example":"Internal server error"}}}}}}},"tags":["User Commands"]}},"/api/user/history/{historyId}":{"put":{"summary":"Update a history record","description":"Updates a user's history record, such as marking it as favorite","security":[{"bearerAuth":[]}],"tags":["User Commands"],"parameters":[{"in":"path","name":"historyId","required":true,"schema":{"type":"string"},"description":"The unique identifier of the history record to update","example":"687e770f93c79717445a0497"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateHistoryRequest"}}}},"responses":{"200":{"description":"History record successfully updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateHistoryResponse"}}}},"400":{"description":"Bad request - Invalid input data","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"Invalid history data"}}}}}},"401":{"description":"Unauthorized - Invalid or missing access token","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","example":"Unauthorized"}}}}}},"404":{"description":"History record not found","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"History record not found"}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"Internal server error"}}}}}}}}},"/api/user/histories":{"post":{"summary":"Retrieve user conversation histories","description":"Fetches conversation history records based on specified filters and criteria","security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HistoryQuery"},"example":{"api":"/ai/personal/qanda","forgotten":{"$ne":true},"limit":5,"course_id":1750532703472}}}},"responses":{"200":{"description":"Successfully retrieved conversation histories","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HistoriesResponse"}}}},"401":{"description":"Unauthorized - Invalid or missing access token"},"500":{"description":"Internal server error"}},"tags":["User Commands"]}},"/api/user/favorites":{"post":{"summary":"Retrieve user's favorite dialogues","description":"Returns a list of dialogues marked as favorites by the authenticated user","security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","description":"Empty object for POST request"}}}},"responses":{"200":{"description":"Successfully retrieved favorite conversations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FavoritesResponse"}}}},"401":{"description":"Unauthorized - Invalid or missing authentication token"},"500":{"description":"Internal server error"}},"tags":["User Commands"]}},"/api/user/courses":{"post":{"summary":"Retrieve user conversations","description":"Gets a list of all conversations associated with the authenticated user","security":[{"BearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","description":"Empty object for this endpoint"}}}},"responses":{"200":{"description":"Successfully retrieved user courses","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Course"}}}}},"401":{"description":"Unauthorized - Invalid or missing access token"},"500":{"description":"Internal server error"}},"tags":["User Commands"]}},"/api/user/uploads":{"post":{"summary":"Search and retrieve user uploaded files","description":"Retrieves a list of user uploads with optional filtering by filename and status","security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadSearchRequest"},"example":{"lean":true,"status":{"$ne":"deleted"},"fileNameSearch":"file123"}}}},"responses":{"200":{"description":"Successfully retrieved user uploads","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UploadFile"}}}}},"401":{"description":"Unauthorized - Invalid or missing access token"},"500":{"description":"Internal server error"}},"tags":["RAG"]}},"/api/user/settings":{"post":{"summary":"Retrieve instance variables","description":"Fetches the current instance's variables with institution and user metadata","security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","description":"Empty object for POST request"}}}},"responses":{"200":{"description":"Successfully retrieved user settings","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserSettingsResponse"}}}},"401":{"description":"Unauthorized - Invalid or missing access token","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","example":"Unauthorized"}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","example":"Internal server error"}}}}}}},"tags":["User Commands"]}},"/api/user/files":{"post":{"summary":"Upload files to user's document library","description":"Uploads one or more files along with course context information","security":[{"dearerAuth":[]}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"files":{"type":"string","format":"binary","description":"File(s) to upload"},"selectedCourse":{"$ref":"#/components/schemas/CourseInfoUpload"}},"required":["files"]}}}},"responses":{"200":{"description":"File uploaded successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileUploadResponse"}}}},"400":{"description":"Bad request - Invalid form data or missing parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized - Invalid or missing access token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"tags":["RAG"]}},"/api/user/upload/{uploadId}":{"put":{"summary":"Update an existing upload file's metadata","description":"Updates the metadata of an uploaded file, such as changing the original filename, or change the status","tags":["RAG"],"parameters":[{"in":"path","name":"uploadId","required":true,"schema":{"type":"string"},"description":"The unique identifier of the upload to update","example":"68566d7c4ec8e0cb02907997"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateUploadRequest"}}}},"responses":{"200":{"description":"Upload successfully updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateUploadResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/user/files/{fileId}":{"delete":{"summary":"Delete a specific user file","description":"Removes a file physically from the user's file collection using the file ID.","tags":["User Files"],"parameters":[{"in":"path","name":"fileId","required":true,"schema":{"type":"string"},"description":"The unique identifier of the file to delete","example":"68566d7c4ec8e0cb02907997"}],"responses":{"200":{"description":"File deleted successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileDeleteResponse"},"example":{"success":true,"message":"File(s) deleted successfully","code":1}}}}},"security":[{"bearerAuth":[]}]}},"/api/user/userInstitutionSwitch/{userInstitutionId}":{"post":{"summary":"Switch user's active user institution profile","description":"Allows a user to switch their active institution profile to a different institution. After switching, refresh the profile and branding","tags":["User Commands"],"parameters":[{"in":"path","name":"userInstitutionId","required":true,"schema":{"type":"string"},"description":"The unique identifier of the user institution to switch to","example":"6554560a7f05e300409043ba"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","description":"Empty object for the request body"}}}},"responses":{"200":{"description":"Institution profile switched successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserInstitutionSwitchResponse"},"example":{"success":true,"message":"Profile switched !"}}}}},"security":[{"bearerAuth":[]}]}},"/api/user/userInstitution/{institutionId}":{"put":{"summary":"Update user institution preferences","description":"Updates user institution settings including last conversation data, canvasApiToken","tags":["User Commands"],"parameters":[{"in":"path","name":"institutionId","required":true,"schema":{"type":"string"},"description":"The institution ID to update"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserInstitutionUpdateRequest"}}}},"responses":{"200":{"description":"User institution preferences updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserInstitutionUpdateResponse"}}}},"401":{"description":"Unauthorized - Invalid or missing access token"},"404":{"description":"Institution not found"},"500":{"description":"Internal server error"}},"security":[{"bearerAuth":[]}]}},"/api/user/assistant":{"post":{"summary":"Create a new assistant","description":"Creates a new AI assistant with specified configuration and permissions","security":[{"bearerAuth":[]}],"tags":["User Commands"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAssistantRequest"}}}},"responses":{"201":{"description":"Assistant successfully created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAssistantResponse"}}}},"400":{"description":"Bad request - Invalid input data","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"Invalid assistant data"}}}}}},"401":{"description":"Unauthorized - Invalid or missing access token","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","example":"Unauthorized"}}}}}},"409":{"description":"Conflict - Assistant with this name already exists","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"Assistant already exists"}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"Internal server error"}}}}}}}}},"/api/user/assistant/{assistantId}":{"put":{"summary":"Update an existing assistant","description":"Updates an existing AI assistant with new configuration and permissions","security":[{"bearerAuth":[]}],"tags":["User Commands"],"parameters":[{"in":"path","name":"assistantId","required":true,"schema":{"type":"string"},"description":"The unique identifier of the assistant to update","example":"687e761093c797174459c651"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAssistantRequest"}}}},"responses":{"200":{"description":"Assistant successfully updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAssistantResponse"}}}},"400":{"description":"Bad request - Invalid input data","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"Invalid assistant data"}}}}}},"401":{"description":"Unauthorized - Invalid or missing access token","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","example":"Unauthorized"}}}}}},"404":{"description":"Assistant not found","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"Assistant not found"}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"Internal server error"}}}}}}}}},"/api/user/assistants":{"post":{"summary":"Retrieve user assistants with optional filtering","description":"Returns a list of assistants available to the user, with optional type filtering","tags":["User Commands"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssistantRequest"}}}},"responses":{"200":{"description":"Successfully retrieved assistants","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Assistant"}}}}}},"security":[{"bearerAuth":[]}]}},"/api/user/setting/{settingId}":{"put":{"summary":"Update an instance variable","description":"Updates an existing instance variable by ID with new values and permissions","security":[{"bearerAuth":[]}],"tags":["User Commands"],"parameters":[{"in":"path","name":"settingId","required":true,"schema":{"type":"string"},"description":"The unique identifier of the setting to update","example":"687e6ee393c79717445848de"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateSettingRequest"}}}},"responses":{"200":{"description":"Setting successfully updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateSettingResponse"}}}},"400":{"description":"Bad request - Invalid input data","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"Invalid setting data"}}}}}},"401":{"description":"Unauthorized - Invalid or missing access token","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","example":"Unauthorized"}}}}}},"404":{"description":"Setting not found","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"Setting not found"}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"Internal server error"}}}}}}}}},"/api/user/setting":{"post":{"summary":"Create a new instance variable","description":"Creates a new instance variable with specified key, value, and permission flags","security":[{"bearerAuth":[]}],"tags":["User Commands"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSettingRequest"}}}},"responses":{"200":{"description":"Setting successfully created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSettingResponse"}}}},"400":{"description":"Bad request - Invalid input data","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"Invalid setting data"}}}}}},"401":{"description":"Unauthorized - Invalid or missing access token","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","example":"Unauthorized"}}}}}},"409":{"description":"Conflict - Setting with this key already exists","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"Setting already exists"}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"Internal server error"}}}}}}}}}},"components":{"schemas":{"DatabaseStatusResponse":{"type":"object","properties":{"message":{"type":"string","description":"Description of database connection states","example":"0: disconnected, 1: connected, 2: connecting, 3: disconnecting, 4: invalid credentials"},"status":{"type":"integer","description":"Current database connection status (0-4)","example":1,"enum":[0,1,2,3,4]}}},"MemoryInfo":{"type":"object","properties":{"rss":{"type":"number","description":"Resident Set Size - total memory allocated for the process"},"heapTotal":{"type":"number","description":"Total heap memory allocated"},"heapUsed":{"type":"number","description":"Heap memory currently in use"},"external":{"type":"number","description":"Memory used by C++ objects bound to JavaScript objects"},"arrayBuffers":{"type":"number","description":"Memory allocated for ArrayBuffers and SharedArrayBuffers"}}},"Dependencies":{"type":"object","properties":{"database":{"type":"number","description":"Database connection status (1 = connected)"}}},"HealthResponse":{"type":"object","properties":{"status":{"type":"string","description":"Overall health status","example":"ok"},"uptime":{"type":"number","description":"Server uptime in seconds"},"timestamp":{"type":"number","description":"Current timestamp in milliseconds"},"memory":{"$ref":"#/components/schemas/MemoryInfo"},"dependencies":{"$ref":"#/components/schemas/Dependencies"}}},"TestUrlRequest":{"type":"object","required":["url"],"properties":{"url":{"type":"string","format":"uri","description":"The URL to be tested","example":"https://domain.edu/7891273"}}},"TestUrlResponse":{"type":"object","properties":{"ltiassigned":{"type":"boolean","description":"Indicates if LTI is assigned","example":true},"name":{"type":"string","description":"Generated name identifier","example":"29167765.hugo770126995."},"status":{"type":"string","description":"Current status of the test","example":"active"},"ainame":{"type":"string","description":"AI name associated with the test","example":""},"picture":{"type":"string","description":"Picture URL or identifier","example":""},"publicId":{"type":"string","format":"uuid","description":"Public identifier for the test","example":"bc6efd03-9d01-43e7-bd49-c4af1c54ae3a"}}},"AgentBrandingRequest":{"type":"object","required":["publicId"],"properties":{"publicId":{"type":"string","description":"The public identifier for the agent","example":"5f03e5e6-9dde-4ddc-b686-7a77ac617e52"}}},"AgentBrandingResponse":{"type":"object","properties":{"picture":{"type":"string","description":"URL to the agent's profile picture","example":"https://pria.praxislxp.com/logo192_v3.webp"},"picture_animated":{"type":"string","description":"URL to the agent's animated picture (if available)","example":""},"picture_bg":{"type":"string","description":"URL to the agent's background picture","example":"https://pria.praxislxp.com/pria_bg2.webp"},"about":{"type":"string","description":"Description of the AI agent's (digital twin a.k.a. instance) purpose and capabilities","example":"I am an AI-powered virtual mentor programmed to help experts, students, faculty, and researchers with their digital corporate, education, research, and career goals..."},"ainame":{"type":"string","description":"Name of the AI agent","example":"Pria"},"status":{"type":"string","description":"Current status of the agent","example":"active"}}},"SignInRequest":{"type":"object","required":["email","password"],"properties":{"email":{"type":"string","format":"email","example":"john.doe@mydomain.com"},"password":{"type":"string","format":"password","example":"iLovePria123"}}},"SignInResponse":{"type":"object","properties":{"token":{"type":"string","description":"JWT authentication token"},"profile":{"$ref":"#/components/schemas/UserProfile"}}},"AutoSignupRequest":{"type":"object","required":["email","fname","lxp_user_id","lxp_user_type","lxp_partner_id","lxp_partner_name","lxp_role_id","lxp_role_name","institution_id","institution_url","client_ip","lticontextid","digitaltwin"],"properties":{"email":{"type":"string","format":"email","example":"john.doe@praxis-ai.com"},"fname":{"type":"string","example":"John"},"lname":{"type":"string","example":"Doe"},"picture":{"type":"string","example":""},"lxp_user_id":{"type":"string","example":"1750665682"},"lxp_user_type":{"type":"integer","example":1},"lxp_partner_id":{"type":"string","example":"1"},"lxp_partner_name":{"type":"string","example":"Edu School"},"lxp_role_id":{"type":"integer","example":123},"lxp_role_name":{"type":"string","example":"Course 123"},"institution_id":{"type":"string","format":"uuid","example":"bc6efd03-9d01-43e7-bd49-c4af1c54ae3a"},"institution_url":{"type":"string","example":"https://domain.edu"},"client_ip":{"type":"string","example":"134.123.234.234"},"lticontextid":{"type":"string","example":"https://domain.edu/course/i12"},"digitaltwin":{"type":"boolean","example":true}}},"InstitutionProfile":{"type":"object","properties":{"_id":{"type":"string"},"name":{"type":"string"},"picture":{"type":"string"},"picture_bg":{"type":"string"},"picture_animated":{"type":"string"},"credits":{"type":"integer"},"status":{"type":"string"},"allowJoining":{"type":"string"},"joiningAdminOnly":{"type":"boolean"},"publicId":{"type":"string","format":"uuid"},"publicAuthorizedUrls":{"type":"array","items":{"type":"string"}},"ainame":{"type":"string"},"contactEmail":{"type":"string","format":"email"},"creditAward":{"type":"integer"},"poolCredits":{"type":"boolean"},"invoices_urls":{"type":"array","items":{"type":"string"}},"maxCompletionTokens":{"type":"integer"},"disableFileUploadForUser":{"type":"boolean"},"toolsDisabled":{"type":"array","items":{"type":"string"}},"ltiContextIds":{"type":"array","items":{"type":"string"}},"personalisationAsked":{"type":"boolean"},"locationEnabled":{"type":"boolean"},"rtEnabled":{"type":"boolean"},"rtAdminOnly":{"type":"boolean"},"displayAgentDetails":{"type":"boolean"},"assistantsDisabled":{"type":"array","items":{"type":"string"}},"disableAssistantsForUser":{"type":"boolean"},"rtVoice":{"type":"string"},"maxFiles":{"type":"integer"},"questionType":{"type":"string"},"creditsTotal":{"type":"integer","nullable":true},"creditsUsagePct":{"type":"number"},"id":{"type":"string"}}},"UserProfile":{"type":"object","properties":{"_id":{"type":"string"},"email":{"type":"string","format":"email"},"fname":{"type":"string"},"lname":{"type":"string"},"picture":{"type":"string"},"accountType":{"type":"string"},"permissions":{"type":"array","items":{"type":"string"}},"customerId":{"type":"string"},"lxp_user_id":{"type":"string"},"lxp_user_type":{"type":"integer"},"lxp_partner_id":{"type":"string"},"lxp_partner_name":{"type":"string"},"lxp_role_id":{"type":"integer"},"lxp_role_name":{"type":"string"},"credits":{"type":"integer"},"creditsUsed":{"type":"integer"},"plan":{"type":"string"},"status":{"type":"string"},"trial_end":{"type":"string","format":"date-time"},"trial_used":{"type":"boolean"},"current_period_end":{"type":"string","format":"date-time"},"cancel_at_period_end":{"type":"boolean"},"referralId":{"type":"string","format":"uuid"},"referrerPaid":{"type":"boolean"},"resetCodeId":{"type":"string","format":"uuid"},"invoices_urls":{"type":"array","items":{"type":"string"}},"remember_history_count":{"type":"integer"},"browser_voice":{"type":"string"},"rt_voice":{"type":"string"},"use_location":{"type":"boolean"},"pin_ui":{"type":"boolean"},"dark_mode":{"type":"boolean"},"max_dialogues":{"type":"integer"},"created":{"type":"string","format":"date-time"},"__v":{"type":"integer"},"institution":{"$ref":"#/components/schemas/InstitutionProfile"}}},"AutoSignupResponse":{"type":"object","properties":{"token":{"type":"string","description":"JWT authentication token"},"profile":{"$ref":"#/components/schemas/UserProfile"}}},"CreateInstitutionRequest":{"type":"object","required":["name","contactEmail","ltiContextIds"],"properties":{"name":{"type":"string","description":"Institution name identifier","example":"teacher1.domain.edu.instructure"},"contactEmail":{"type":"string","format":"email","description":"Contact email for the institution","example":"jane.doe@praxis-ai.com"},"ltiContextIds":{"type":"array","items":{"type":"string"},"description":"Array of LTI context identifiers","example":["https://domain.edu/7891278"]},"publicAuthorizedUrls":{"type":"array","items":{"type":"string"},"description":"Array of authorized public URLs","example":["https://domain.edu"]},"ainame":{"type":"string","description":"AI assistant name","example":"Hugo"},"picture":{"type":"string","format":"uri","description":"URL to the institution's picture/avatar","example":"https://hiimpria.ai/uploads/6430736fd62d650040420674/Clarkey20Headshot20Animated_1752713782148.gif"},"picture_bg":{"type":"string","description":"Background picture URL","example":""},"picture_animated":{"type":"string","format":"uri","description":"URL to animated picture/avatar","example":"https://hiimpria.ai/uploads/6430736fd62d650040420674/Clarkey20Headshot20Animated_1752713782148.gif"},"prompt":{"type":"string","description":"Custom prompt for the AI","example":""},"domain":{"type":"string","description":"Institution domain","example":"domain.edu"}}},"CreateInstitutionResponse":{"type":"object","properties":{"_id":{"type":"string","description":"Unique institution identifier","example":"68793ef2a8a4a5eaff36e7ca"},"name":{"type":"string","example":"teacher1.domain.edu.instructure"},"picture":{"type":"string","format":"uri","example":"https://hiimpria.ai/uploads/6430736fd62d650040420674/Clarkey20Headshot20Animated_1752713782148.gif"},"picture_bg":{"type":"string","example":""},"picture_animated":{"type":"string","format":"uri","example":"https://hiimpria.ai/uploads/6430736fd62d650040420674/Clarkey20Headshot20Animated_1752713782148.gif"},"credits":{"type":"number","description":"Total credits allocated","example":50},"creditsUsed":{"type":"number","description":"Credits consumed","example":0},"creditsAwarded":{"type":"number","description":"Credits awarded","example":0},"creditsTotal":{"type":"number","description":"Total available credits","example":50},"creditsUsagePct":{"type":"number","description":"Percentage of credits used","example":0},"status":{"type":"string","enum":["active","inactive"],"example":"active"},"allowJoining":{"type":"string","enum":["enabled","disabled"],"example":"disabled"},"joiningAdminOnly":{"type":"boolean","example":false},"publicId":{"type":"string","format":"uuid","description":"Public identifier for the institution","example":"2e1006ec-5b59-4431-96d2-b0e1b1022a3a"},"publicAuthorizedUrls":{"type":"array","items":{"type":"string"},"example":["https://domain.edu"]},"ainame":{"type":"string","example":"Hugo"},"prompt":{"type":"string","example":""},"contactEmail":{"type":"string","format":"email","example":"jane.doe@praxis-ai.com"},"creditAward":{"type":"number","example":0},"poolCredits":{"type":"boolean","example":true},"invoices_urls":{"type":"array","items":{"type":"string"},"example":[]},"kmeanScore":{"type":"number","format":"float","example":0.45},"ragLimitChunks":{"type":"number","example":2},"maxCompletionTokens":{"type":"number","example":-1},"disableFileUploadForUser":{"type":"boolean","example":false},"toolsDisabled":{"type":"array","items":{"type":"string"},"example":[]},"ltiContextIds":{"type":"array","items":{"type":"string"},"example":["https://domain.edu/7891278"]},"canvasAPIScope":{"type":"array","items":{"type":"string"},"example":["url:GET|/api/v1/courses/:course_id/smartsearch"]},"personalisationAsked":{"type":"boolean","example":false},"kalturaIsAdminSecret":{"type":"boolean","example":false},"entitleNewAdmins":{"type":"boolean","example":false},"locationEnabled":{"type":"boolean","example":true},"enableModeration":{"type":"boolean","example":false},"alwaysCiteSources":{"type":"boolean","example":true},"rtEnabled":{"type":"boolean","example":false},"rtAdminOnly":{"type":"boolean","example":true},"displayAgentDetails":{"type":"boolean","example":true},"assistantsDisabled":{"type":"array","items":{"type":"string"},"example":[]},"disableAssistantsForUser":{"type":"boolean","example":false},"rtVoice":{"type":"string","example":""},"maxFiles":{"type":"number","example":300},"aiWebSearch":{"type":"boolean","example":true},"questionType":{"type":"string","enum":["CORPORATE","ACADEMIC","PERSONAL"],"example":"CORPORATE"},"created":{"type":"string","format":"date-time","example":"2025-07-17T18:20:34.330Z"},"id":{"type":"string","example":"68793ef2a8a4a5eaff36e7ca"}}},"GPSCoordinates":{"type":"object","properties":{"accuracy":{"type":"number","description":"GPS accuracy in meters"},"latitude":{"type":"number","description":"Latitude coordinate"},"longitude":{"type":"number","description":"Longitude coordinate"},"altitude":{"type":"number","nullable":true,"description":"Altitude in meters"},"altitudeAccuracy":{"type":"number","nullable":true,"description":"Altitude accuracy in meters"},"heading":{"type":"number","nullable":true,"description":"Heading direction in degrees"},"speed":{"type":"number","nullable":true,"description":"Speed in meters per second"}}},"AssistantInfo":{"type":"object","properties":{"_id":{"type":"string","description":"Assistant unique identifier"},"name":{"type":"string","description":"Assistant name"},"picture_url":{"type":"string","description":"Assistant profile picture URL"}}},"SelectedCourse":{"type":"object","properties":{"course_id":{"type":"number","description":"Course unique identifier"},"course_name":{"type":"string","description":"Course display name"},"assistant":{"$ref":"#/components/schemas/AssistantInfo"},"history_count":{"type":"number","description":"Number of messages in conversation history"},"last_dialogue_date":{"type":"string","format":"date-time","description":"Last conversation timestamp"}}},"RequestArgs":{"type":"object","properties":{"userISODate":{"type":"string","format":"date-time","description":"User's current timestamp in ISO format"},"userTimezone":{"type":"string","description":"User's timezone"},"userGPSCoordinates":{"$ref":"#/components/schemas/GPSCoordinates"},"socketId":{"type":"string","description":"WebSocket connection identifier"},"selectedCourse":{"$ref":"#/components/schemas/SelectedCourse"},"ragOnly":{"type":"boolean","description":"Whether to use only RAG search results"}}},"QandARequest":{"type":"object","required":["id","requestArgs","inputs","outputs"],"properties":{"id":{"type":"number","description":"Request unique identifier"},"requestArgs":{"$ref":"#/components/schemas/RequestArgs"},"inputs":{"type":"array","items":{"type":"string"},"description":"Array of user input messages"},"outputs":{"type":"array","items":{"type":"string"},"description":"Array of AI response messages"}}},"QandAResponse":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether the request was successful"},"streamingFailed":{"type":"boolean","description":"Whether streaming response failed"},"outputs":{"type":"array","items":{"type":"string"},"description":"AI generated responses"},"usage":{"type":"number","description":"Total tokens used"},"credits":{"type":"number","description":"Credits consumed for this request"},"creditsUsed":{"type":"number","description":"Total credits used by user"},"totalLength":{"type":"number","description":"Total response length"},"totalCredits":{"type":"number","description":"Total credits available"},"query_duration_ms":{"type":"number","description":"Query processing time in milliseconds"},"requestArgs":{"$ref":"#/components/schemas/RequestArgs"},"model":{"type":"string","description":"AI model used for processing"}}},"RefreshProfileResponse":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether the operation was successful"},"profile":{"$ref":"#/components/schemas/UserProfile"}}},"EntitlementData":{"type":"object","properties":{"_id":{"type":"string","description":"Unique identifier for the entitlement record"},"entitlements":{"type":"array","items":{"type":"string"},"description":"Array of permission strings (e.g., \"institutions.list\", \"users.add\")"},"accountType":{"type":"string","enum":["super","admin","user"],"description":"Type of account (super, admin, or user)"},"status":{"type":"string","enum":["active","inactive","pending"],"description":"Current status of the entitlement"},"creditAwarded":{"type":"number","description":"Number of credits awarded to the user"},"user":{"type":"string","description":"User ID associated with this entitlement"},"created":{"type":"string","format":"date-time","description":"Creation timestamp"},"lastLogin":{"type":"string","format":"date-time","description":"Last login timestamp"},"lastKA":{"type":"string","format":"date-time","description":"Last keep-alive timestamp"},"digitaltwin":{"type":"boolean","description":"Whether digital twin is enabled"},"institution":{"type":"string","description":"Institution ID (optional)"},"institution_data":{"type":"object","description":"Detailed institution information (when available)"},"account_data":{"type":"object","description":"Detailed account information (when available)"}}},"RefreshEntitlementsResponse":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates if the operation was successful"},"entitlements":{"type":"array","items":{"$ref":"#/components/schemas/EntitlementData"},"description":"Array of user entitlement records with associated data"}}},"UpdateHistoryRequest":{"type":"object","properties":{"favorite":{"type":"boolean","description":"Whether to mark the history item as favorite","example":true},"forgotten":{"type":"boolean","description":"Whether to hide the dialogue from history","example":true}}},"MongoUpdateResult":{"type":"object","properties":{"acknowledged":{"type":"boolean","description":"Whether the operation was acknowledged by MongoDB","example":true},"modifiedCount":{"type":"integer","description":"Number of documents modified","example":1},"upsertedId":{"type":"string","nullable":true,"description":"ID of upserted document (null if no upsert)","example":null},"upsertedCount":{"type":"integer","description":"Number of documents upserted","example":0},"matchedCount":{"type":"integer","description":"Number of documents matched","example":1}}},"UpdateHistoryResponse":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether the operation was successful","example":true},"history":{"$ref":"#/components/schemas/MongoUpdateResult"},"message":{"type":"string","description":"Success message","example":"History updated!"}}},"HistoryQuery":{"type":"object","properties":{"api":{"type":"string","description":"API endpoint filter","example":"/ai/personal/qanda"},"forgotten":{"type":"object","properties":{"$ne":{"type":"boolean"}},"description":"MongoDB query to exclude forgotten records","example":{"$ne":true}},"limit":{"type":"integer","description":"Maximum number of records to return","example":5},"course_id":{"type":"number","description":"Course identifier to filter by","example":1750532703472}}},"HistoryRecord":{"type":"object","properties":{"in":{"type":"object","properties":{"input":{"type":"string","description":"User input text"}}},"out":{"type":"object","properties":{"outputs":{"type":"array","items":{"type":"string"},"description":"AI response outputs"}}},"id":{"type":"string","description":"Unique identifier for the history record"},"created":{"type":"string","format":"date-time","description":"Creation timestamp"},"credits":{"type":"integer","description":"Credits consumed for this interaction"},"usage":{"type":"integer","description":"Token usage count"},"cached":{"type":"integer","description":"Cached tokens used"},"completion":{"type":"integer","description":"Completion tokens generated"},"latencyMs":{"type":"integer","description":"Response latency in milliseconds"},"favorite":{"type":"boolean","description":"Whether record is marked as favorite"},"forgotten":{"type":"boolean","description":"Whether record is marked as forgotten"},"course_id":{"type":"number","description":"Associated course identifier"},"course_name":{"type":"string","description":"Associated course name"},"query_duration_ms":{"type":"integer","description":"Query processing duration in milliseconds"},"tools":{"type":"array","items":{"type":"object"},"description":"Tools used during the interaction"},"conversation_model":{"type":"string","description":"AI model used for the conversation"},"success":{"type":"boolean","description":"Whether the interaction was successful"}}},"HistoriesResponse":{"type":"array","items":{"$ref":"#/components/schemas/HistoryRecord"},"description":"Array of conversation history records"},"FavoriteConversation":{"type":"object","properties":{"in":{"type":"object","properties":{"input":{"type":"string","description":"User input/query"}}},"out":{"type":"object","properties":{"outputs":{"type":"array","items":{"type":"string"},"description":"AI assistant responses"}}},"id":{"type":"string","description":"Unique conversation identifier"},"created":{"type":"string","format":"date-time","description":"Conversation creation timestamp"},"credits":{"type":"integer","description":"Credits consumed for this conversation"},"usage":{"type":"integer","description":"Token usage count"},"cached":{"type":"integer","description":"Cached tokens used"},"completion":{"type":"integer","description":"Completion tokens generated"},"latencyMs":{"type":"integer","description":"Response latency in milliseconds"},"favorite":{"type":"boolean","description":"Whether conversation is marked as favorite"},"forgotten":{"type":"boolean","description":"Whether conversation is marked as forgotten"},"course_id":{"type":"integer","description":"Associated course identifier"},"course_name":{"type":"string","description":"Name of associated course"},"query_duration_ms":{"type":"integer","description":"Total query processing duration in milliseconds"},"success":{"type":"boolean","description":"Whether the conversation was successful"},"assistant":{"type":"object","properties":{"_id":{"type":"string","description":"Assistant unique identifier"},"name":{"type":"string","description":"Assistant name"},"liked_count":{"type":"integer","description":"Number of likes for this assistant"},"picture_url":{"type":"string","description":"Assistant avatar image URL"}}},"tools":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"Tool execution identifier"},"name":{"type":"string","description":"Tool name used"},"arguments":{"type":"object","description":"Arguments passed to the tool"},"response":{"type":"string","description":"Tool response"},"responseLength":{"type":"integer","description":"Length of tool response"},"success":{"type":"boolean","description":"Whether tool execution was successful"},"_id":{"type":"string","description":"Tool execution record identifier"}}}},"conversation_model":{"type":"string","description":"AI model used for the conversation"}}},"FavoritesResponse":{"type":"array","items":{"$ref":"#/components/schemas/FavoriteConversation"}},"Assistant":{"type":"object","properties":{"_id":{"type":"string","description":"Unique identifier for the assistant"},"name":{"type":"string","description":"Name of the assistant"},"picture_url":{"type":"string","description":"URL to the assistant's picture"},"description":{"type":"string","description":"Description of the assistant's functionality"},"instructions":{"type":"string","description":"Detailed instructions for the assistant"},"status":{"type":"string","description":"Current status of the assistant"},"liked_count":{"type":"integer","description":"Number of likes for the assistant"},"admin_only":{"type":"boolean","description":"Whether the assistant is admin-only"},"created":{"type":"string","format":"date-time","description":"Creation timestamp"},"institution_shared":{"type":"boolean","description":"Whether the assistant is shared with institution"},"remember_history":{"type":"integer","description":"Number of history items to remember"},"editable_others":{"type":"boolean","description":"Whether others can edit this assistant"},"user":{"type":"string","description":"User ID who created the assistant"},"user_data":{"type":"object","properties":{"email":{"type":"string"},"fname":{"type":"string"},"lname":{"type":"string"},"accountType":{"type":"string"}}},"argument_1":{"type":"string","nullable":true},"argument_2":{"type":"string","nullable":true},"argument_3":{"type":"string","nullable":true},"argument_4":{"type":"string","nullable":true},"argument_5":{"type":"string","nullable":true}}},"Course":{"type":"object","properties":{"course_id":{"type":"integer","description":"Unique identifier for the course"},"course_name":{"type":"string","description":"Name of the course"},"assistant":{"$ref":"#/components/schemas/Assistant","description":"Assistant associated with the course (optional)"},"history_count":{"type":"integer","description":"Number of dialogue entries in the course history"},"last_dialogue_date":{"type":"string","format":"date-time","description":"ISO timestamp of the last dialogue in the course"}}},"UploadFile":{"type":"object","properties":{"_id":{"type":"string","description":"Unique identifier for the file"},"filename":{"type":"string","description":"System-generated filename"},"originalname":{"type":"string","description":"Original filename as uploaded"},"mimetype":{"type":"string","description":"MIME type of the file"},"created":{"type":"string","format":"date-time","description":"File creation timestamp"},"filesize":{"type":"integer","description":"File size in bytes"},"status":{"type":"string","enum":["active","selected","deleted"],"description":"Current status of the file"},"thumbnail":{"type":"string","description":"Thumbnail picture encoded"},"user":{"type":"string","description":"User ID who owns the file"},"file_summary":{"type":"string","description":"AI-generated summary of file content"},"file_title":{"type":"string","description":"AI-generated title for the file"},"file_url":{"type":"string","format":"uri","description":"URL to access the file"},"tokens_used":{"type":"integer","description":"Number of tokens used for processing"},"is_private":{"type":"boolean","description":"Whether the file is private"},"file_dimensions":{"type":"string","description":"Image dimensions (for image files)"},"file_authors":{"type":"string","description":"Authors of the content"},"owner_data":{"type":"object","properties":{"email":{"type":"string","format":"email"},"fname":{"type":"string"},"lname":{"type":"string"}}},"index":{"type":"integer","description":"Index position in the list"}}},"UploadSearchRequest":{"type":"object","properties":{"lean":{"type":"boolean","description":"Return minimal data structure"},"status":{"type":"object","properties":{"$ne":{"type":"string","description":"MongoDB not-equal operator"}}},"fileNameSearch":{"type":"string","description":"Search term for filename filtering"}}},"UserSetting":{"type":"object","properties":{"_id":{"type":"string","description":"Setting unique identifier","example":"687e6ee393c79717445848de"},"key":{"type":"string","description":"Setting key name","example":"variable-2"},"value":{"type":"string","description":"Setting value","example":"variable value"},"institution":{"type":"string","description":"Institution ID this setting belongs to","example":"6631915765bb0a94cfd6ca99"},"user":{"type":"string","description":"User ID this setting belongs to","example":"6430d02554cd4e00403e8b05"},"status":{"type":"string","description":"Setting status","enum":["active","inactive"],"example":"active"},"admin_only":{"type":"boolean","description":"Whether setting is admin-only","example":true},"institution_shared":{"type":"boolean","description":"Whether setting is shared across institution","example":true},"editable_others":{"type":"boolean","description":"Whether setting can be edited by others","example":true},"institution_data":{"type":"object","properties":{"_id":{"type":"string"},"name":{"type":"string"},"ainame":{"type":"string"}},"$ref":"#/components/schemas/InstitutionData"},"user_data":{"type":"object","properties":{"_id":{"type":"string"},"email":{"type":"string"},"fname":{"type":"string"},"lname":{"type":"string"}},"$ref":"#/components/schemas/UserData"},"index":{"type":"integer","description":"Setting display order index","example":1}}},"UserSettingsResponse":{"type":"array","items":{"$ref":"#/components/schemas/UserSetting"},"description":"Array of user settings with associated metadata"},"CourseInfoUpload":{"type":"object","description":"Object used by the RAG to save a dialog confirming upload results in the proper conversation","properties":{"course_id":{"type":"number","description":"Unique identifier for the course"},"course_name":{"type":"string","description":"Name of the course"},"assistant":{"type":"object","properties":{"_id":{"type":"string","description":"Assistant unique identifier"},"name":{"type":"string","description":"Assistant name"}}}}},"FileUploadResponse":{"type":"object","properties":{"success":{"type":"boolean","description":"Upload success status"},"message":{"type":"string","description":"Response message"},"fileId":{"type":"string","description":"Uploaded file identifier"}}},"ErrorResponse":{"type":"object","properties":{"error":{"type":"string","description":"Error type"},"message":{"type":"string","description":"Error message"}}},"UpdateUploadRequest":{"type":"object","properties":{"originalname":{"type":"string","description":"The original name of the uploaded file","example":"markdown_render_with_error_boundary"},"status":{"type":"string","description":"The new status for the upload - \"active\" (default status), \"selected\" (file will be included in RAG searches) or \"deleted\" (soft deleted, will be hidden from lists and RAG)","enum":["active","selected","deleted"],"example":"deleted"},"is_private":{"type":"boolean","description":"Value used only when status is 'selected'. Determines whether the file will remain confidential; will not be cited as source or its location not be made available to users.","example":true}}},"UpdateUploadResponse":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates if the operation was successful","example":true},"upload":{"type":"object","properties":{"acknowledged":{"type":"boolean","description":"Database operation acknowledgment","example":true},"modifiedCount":{"type":"integer","description":"Number of documents modified","example":0},"upsertedId":{"type":"string","nullable":true,"description":"ID of upserted document if any","example":null},"upsertedCount":{"type":"integer","description":"Number of documents upserted","example":0},"matchedCount":{"type":"integer","description":"Number of documents matched","example":1}}},"message":{"type":"string","description":"Success message","example":"upload updated!"}}},"FileDeleteResponse":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates if the file deletion was successful"},"message":{"type":"string","description":"Success message confirming file deletion"},"code":{"type":"integer","description":"Response code (1 for success)"}}},"UserInstitutionSwitchResponse":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates if the institution switch was successful"},"message":{"type":"string","description":"Success message confirming the profile switch"}}},"CanvasUser":{"type":"object","properties":{"id":{"type":"integer","description":"Canvas user ID","example":110},"name":{"type":"string","description":"Full name of the user","example":"Hugo Lebegue"},"global_id":{"type":"string","description":"Global Canvas user identifier","example":"243790000000000110"},"effective_locale":{"type":"string","description":"User's effective locale setting","example":"en"},"fake_student":{"type":"boolean","description":"Whether the user is a fake student account","example":false}}},"CanvasApiToken":{"type":"object","required":["access_token","token_type","user","institutionid"],"properties":{"access_token":{"type":"string","description":"Canvas API access token","example":"24379~vCERVnFWh9yyEVQkafGWQL8WwUk9YKv2mEmMyv6WtkzUYkEHDRGtPP2aMMCYf4C9"},"token_type":{"type":"string","description":"Type of the token","example":"Bearer"},"user":{"$ref":"#/components/schemas/CanvasUser"},"canvas_region":{"type":"string","description":"Canvas region identifier","example":"us-east-1"},"expires_in":{"type":"integer","description":"Token expiration time in seconds","example":3600},"created":{"type":"integer","description":"Token creation timestamp","example":1},"refresh_token":{"type":"string","description":"Refresh token for renewing access","example":"24379~MTDRu7Aw3RGk2DPmrNuAP2E37LcRHQ2A2wk978CMK3GTMFwkrJA8wQkeaKmxWvRA"},"institutionid":{"type":"string","description":"Institution identifier","example":"65cfebc32f5e1b37d4e52329"}}},"LastConversation":{"type":"object","properties":{"course_id":{"type":"number","description":"Unique identifier for the course"},"course_name":{"type":"string","description":"Name of the course/conversation"},"assistant":{"type":"object","properties":{"_id":{"type":"string","description":"Assistant unique identifier"},"name":{"type":"string","description":"Assistant name"},"picture_url":{"type":"string","description":"URL to assistant picture"}}},"history_count":{"type":"number","description":"Number of dialogue entries in history"},"last_dialogue_date":{"type":"string","format":"date-time","description":"Timestamp of last dialogue"}}},"UserInstitutionUpdateRequest":{"type":"object","properties":{"lastConversation":{"$ref":"#/components/schemas/LastConversation"},"canvasApiToken":{"$ref":"#/components/schemas/CanvasApiToken"}}},"UserInstitutionUpdateResponse":{"type":"object","properties":{"success":{"type":"boolean","description":"Operation success status","example":true},"message":{"type":"string","description":"Success message","example":"userInstitution preference saved sucessfully"}}},"AssistantRequest":{"type":"object","properties":{"type":{"type":"string","enum":["admin","user"],"description":"Type filter for assistants"},"name":{"type":"string","description":"Name of the assistant to search"}}},"CreateAssistantRequest":{"type":"object","required":["name","status","description","instructions","user","institution"],"properties":{"name":{"type":"string","description":"Name of the assistant","example":"New Assistant 1"},"status":{"type":"string","enum":["active","inactive"],"description":"Status of the assistant","example":"active"},"description":{"type":"string","description":"Description of the assistant","example":"New Assistant Description"},"instructions":{"type":"string","description":"Instructions for the assistant","example":"New Assistant Instructions "},"argument_1":{"type":"string","nullable":true,"description":"Optional argument 1 for the assistant","example":null},"argument_2":{"type":"string","nullable":true,"description":"Optional argument 2 for the assistant","example":null},"argument_3":{"type":"string","nullable":true,"description":"Optional argument 3 for the assistant","example":null},"argument_4":{"type":"string","nullable":true,"description":"Optional argument 4 for the assistant","example":null},"argument_5":{"type":"string","nullable":true,"description":"Optional argument 5 for the assistant","example":null},"picture_url":{"type":"string","description":"URL for the assistant's profile picture","example":"https://learning.praxislxp.com/praxis/hugo_praxis-ai_com/wp-content/uploads/sites/60/2024/08/images.jpeg"},"admin_only":{"type":"boolean","description":"Whether the assistant is admin-only","example":true},"remember_history":{"type":"integer","description":"Number of conversation history items to remember","example":3},"editable_others":{"type":"boolean","description":"Whether the assistant can be edited by others","example":true},"user":{"type":"string","description":"User ID who owns this assistant","example":"6430d02554cd4e00403e8b05"},"institution":{"type":"string","description":"Institution ID this assistant belongs to","example":"6631915765bb0a94cfd6ca99"},"institution_shared":{"type":"boolean","description":"Whether the assistant is shared across the institution","example":true}}},"CreateAssistantResponse":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether the operation was successful","example":true},"id":{"type":"string","description":"ID of the created assistant","example":"687e761093c797174459c651"},"message":{"type":"string","description":"Success message","example":"Assistant created!"}}},"UpdateAssistantRequest":{"type":"object","required":["name","status","description","instructions","user","institution"],"properties":{"name":{"type":"string","description":"Name of the assistant","example":"New Assistant Updated"},"status":{"type":"string","enum":["active","inactive"],"description":"Status of the assistant","example":"active"},"description":{"type":"string","description":"Description of the assistant","example":"New Assistant Description"},"instructions":{"type":"string","description":"Instructions for the assistant","example":"New Assistant Instructions "},"argument_1":{"type":"string","nullable":true,"description":"Optional argument 1 for the assistant","example":null},"argument_2":{"type":"string","nullable":true,"description":"Optional argument 2 for the assistant","example":null},"argument_3":{"type":"string","nullable":true,"description":"Optional argument 3 for the assistant","example":null},"argument_4":{"type":"string","nullable":true,"description":"Optional argument 4 for the assistant","example":null},"argument_5":{"type":"string","nullable":true,"description":"Optional argument 5 for the assistant","example":null},"picture_url":{"type":"string","description":"URL for the assistant's profile picture","example":"https://learning.praxislxp.com/praxis/hugo_praxis-ai_com/wp-content/uploads/sites/60/2024/08/images.jpeg"},"admin_only":{"type":"boolean","description":"Whether the assistant is admin-only","example":true},"remember_history":{"type":"integer","description":"Number of conversation history items to remember","example":3},"editable_others":{"type":"boolean","description":"Whether the assistant can be edited by others","example":true},"user":{"type":"string","description":"User ID who owns this assistant","example":"6430d02554cd4e00403e8b05"},"institution":{"type":"string","description":"Institution ID this assistant belongs to","example":"6631915765bb0a94cfd6ca99"},"institution_shared":{"type":"boolean","description":"Whether the assistant is shared across the institution","example":true}}},"UpdateAssistantResponse":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether the operation was successful","example":true},"message":{"type":"string","description":"Success message","example":"Assistant updated!"}}},"InstitutionData":{"type":"object","properties":{"_id":{"type":"string","description":"Institution unique identifier","example":"6631915765bb0a94cfd6ca99"},"name":{"type":"string","description":"Institution domain name","example":"scarlet.hugo.praxis-ai.instructure.com"},"ainame":{"type":"string","description":"AI assistant name for the institution","example":"Scarlet"}}},"UserData":{"type":"object","properties":{"_id":{"type":"string","description":"User unique identifier","example":"6430d02554cd4e00403e8b05"},"email":{"type":"string","format":"email","description":"User email address","example":"hugo.lebegue@gmail.com"},"fname":{"type":"string","description":"User first name","example":"Hugo"},"lname":{"type":"string","description":"User last name","example":"Lebegue"}}},"UpdateSettingRequest":{"type":"object","required":["key","value"],"properties":{"key":{"type":"string","description":"Setting key name","example":"variable-2"},"value":{"type":"string","description":"Setting value","example":"variable value "},"admin_only":{"type":"boolean","description":"Whether setting is admin-only","example":true},"editable_others":{"type":"boolean","description":"Whether setting can be edited by others","example":true},"institution_shared":{"type":"boolean","description":"Whether setting is shared across institution","example":true}}},"SettingUpdateResult":{"type":"object","properties":{"acknowledged":{"type":"boolean","description":"Whether the operation was acknowledged","example":true},"modifiedCount":{"type":"integer","description":"Number of documents modified","example":0},"upsertedId":{"type":"string","nullable":true,"description":"ID of upserted document if any","example":null},"upsertedCount":{"type":"integer","description":"Number of documents upserted","example":0},"matchedCount":{"type":"integer","description":"Number of documents matched","example":1}}},"UpdateSettingResponse":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether the operation was successful","example":true},"setting":{"$ref":"#/components/schemas/SettingUpdateResult"},"message":{"type":"string","description":"Success message","example":"Setting updated!"}}},"CreateSettingRequest":{"type":"object","required":["key","value"],"properties":{"key":{"type":"string","description":"Setting key name","example":"variable-4"},"value":{"type":"string","description":"Setting value","example":"the value"},"admin_only":{"type":"boolean","description":"Whether setting is admin-only","example":true},"editable_others":{"type":"boolean","description":"Whether setting can be edited by others","example":true},"institution_shared":{"type":"boolean","description":"Whether setting is shared across institution","example":true}}},"CreatedSetting":{"type":"object","properties":{"_id":{"type":"string","description":"Setting unique identifier","example":"687e71b293c797174458e6f2"},"key":{"type":"string","description":"Setting key name","example":"variable-4"},"value":{"type":"string","description":"Setting value","example":"the value"},"institution":{"type":"string","description":"Institution ID this setting belongs to","example":"6631915765bb0a94cfd6ca99"},"user":{"type":"string","description":"User ID this setting belongs to","example":"6430d02554cd4e00403e8b05"},"status":{"type":"string","enum":["active","inactive"],"description":"Setting status","example":"active"},"admin_only":{"type":"boolean","description":"Whether setting is admin-only","example":true},"institution_shared":{"type":"boolean","description":"Whether setting is shared across institution","example":true},"editable_others":{"type":"boolean","description":"Whether setting can be edited by others","example":true},"__v":{"type":"integer","description":"Version key","example":0}}},"CreateSettingResponse":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether the operation was successful","example":true},"setting":{"$ref":"#/components/schemas/CreatedSetting"},"message":{"type":"string","description":"Success message","example":"Setting created!"}}}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"JWT token passed in x-access-token header"}}},"tags":[]}