{"openapi":"3.0.0","info":{"title":"Pria Admin API","version":"2.0.1","description":"Pria Admin API Documentation Praxis's developer platform is a core part of our mission to empower organizations to grow better. Our APIs are designed to enable teams of any shape or size to build robust integrations that help them customize and get the most value out of Pria. All Pria APIs are built using REST conventions and designed to have a predictable URL structure. <br/>  <br/>They use many standard HTTP features, including methods (POST, GET, PUT, DELETE) and error response codes.  <br/> <br/>All API calls are made under https://hiimpria.ai/api and all responses return standard JSON.In these docs, you'll find lists of all available endpoints for a given API, along with interactive code blocks for building requests. For walkthroughs of basic usage for these APIs, check out the API guides."},"servers":[{"url":"https://pria.praxislxp.com","description":"Pria Admin API Server"}],"paths":{"/api/test/db":{"get":{"summary":"Check database connection status","description":"Returns the current database connection status with explanatory message","responses":{"200":{"description":"Database connection status retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabaseStatusResponse"},"example":{"message":"0: disconnected, 1: connected, 2: connecting, 3: disconnecting, 4: invalid credentials","status":1}}}}},"tags":["Testing"]}},"/api/test/health":{"get":{"summary":"Health check endpoint to verify service status","description":"Returns the current health status of the service including uptime, memory usage, and dependency status","responses":{"200":{"description":"Service is healthy and operational","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthResponse"},"example":{"status":"ok","uptime":112.368138,"timestamp":1750534150795,"memory":{"rss":128008192,"heapTotal":72105984,"heapUsed":67442352,"external":23693540,"arrayBuffers":19882176},"dependencies":{"database":1}}}}}},"tags":["Testing"]}},"/api/test/url":{"post":{"summary":"Test a URL and retrieve associated information","description":"Tests a provided URL and returns LTI assignment status, generated identifiers, and other metadata","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestUrlRequest"}}}},"responses":{"200":{"description":"URL test completed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestUrlResponse"}}}},"400":{"description":"Bad request - invalid URL format"},"500":{"description":"Internal server error"}},"tags":["Testing"]}},"/api/auth/signin":{"post":{"summary":"User authentication and sign-in","description":"Authenticates a user with email and password, returns JWT token and user profile","tags":["Authentication"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignInRequest"}}}},"responses":{"200":{"description":"Successful authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignInResponse"}}}},"400":{"description":"Bad request - missing required fields","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"success":{"type":"boolean"}}}}}},"401":{"description":"Invalid credentials","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"success":{"type":"boolean"}}}}}}}}},"/api/auth/autosignup":{"post":{"summary":"Automatic user signup and authentication","description":"Creates or authenticates a user account automatically based on LXP integration data","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutoSignupRequest"}}}},"responses":{"200":{"description":"Successful authentication with user profile and token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutoSignupResponse"}}}},"400":{"description":"Bad request - invalid input data"},"401":{"description":"Unauthorized - invalid or missing authentication token"},"500":{"description":"Internal server error"}},"tags":["Authentication"]}},"/api/auth/createInstitutionForContextid":{"post":{"summary":"Create a new institution for a specific context ID","description":"Creates a new institution record with the provided configuration and context information","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateInstitutionRequest"}}}},"responses":{"200":{"description":"Institution created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateInstitutionResponse"}}}},"400":{"description":"Bad request - Invalid input data"},"401":{"description":"Unauthorized - Invalid or missing access token"},"500":{"description":"Internal server error"}},"tags":["Institutions"]}},"/api/admin/accounts":{"post":{"summary":"Retrieve list of admin accounts","description":"Returns a list of all administrative accounts with optional minimal information flag","tags":["Admin Account"],"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountsRequest"},"example":{"minimum":true}}}},"responses":{"200":{"description":"Successfully retrieved accounts list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountsResponse"},"example":{"success":true,"data":[{"_id":"683f39023d27768408cdcafd","name":"aihec","domainUrls":[""]},{"_id":"683e438c7e5bca2174baadaf","name":"airmeez","domainUrls":[""]}]}}}}}}},"/api/admin/institutions":{"post":{"summary":"Retrieve list of institutions","description":"Get a list of all institutions with their details and statistics","tags":["Admin Institution"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InstitutionListRequest"},"example":{"minimum":true}}}},"responses":{"200":{"description":"Successfully retrieved institutions list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InstitutionListResponse"}}}},"401":{"description":"Unauthorized - Invalid or missing authentication token"},"500":{"description":"Internal server error"}},"security":[{"bearerAuth":[]}]}},"/api/admin/institution/{institutionId}":{"get":{"summary":"Get institution details by ID","description":"Retrieves detailed information about a specific institution including configuration, credits, and settings","tags":["Admin Institution"],"parameters":[{"in":"path","name":"institutionId","required":true,"schema":{"type":"string"},"description":"The institution ID"}],"responses":{"200":{"description":"Institution details retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InstitutionResponse"}}}},"401":{"description":"Unauthorized - Invalid or missing access token"},"404":{"description":"Institution not found"},"500":{"description":"Internal server error"}},"security":[{"bearerAuth":[]}]},"put":{"summary":"Update an institution configuration","description":"Updates the configuration settings for a specific institution","tags":["Admin Institution"],"parameters":[{"in":"path","name":"institutionId","required":true,"schema":{"type":"string"},"description":"The institution ID","example":"665653e9f7e4f4f1b5c6ef1b"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InstitutionUpdateRequest"}}}},"responses":{"200":{"description":"Institution successfully updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InstitutionUpdateResponse"}}}},"400":{"description":"Bad request - Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessError"}}}},"401":{"description":"Unauthorized - Invalid or missing access token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessError"}}}},"404":{"description":"Institution not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessError"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessError"}}}}},"security":[{"bearerAuth":[]}]}},"/api/admin/institutionQuestions":{"post":{"summary":"Retrieve institution questions","description":"Get questions associated with a specific institution, with option for minimum data","tags":["Admin Institution"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InstitutionQuestionsRequest"}}}},"responses":{"200":{"description":"Successfully retrieved institution questions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InstitutionQuestionsResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/admin/questions":{"post":{"summary":"Retrieve institutional assessment questions","description":"Fetches a list of questions used for institutional assessments, with optional filtering for minimal data","tags":["Admin Question"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuestionRequest"},"example":{"minimum":true,"questionType":"INSTITUTION"}}}},"responses":{"200":{"description":"Successfully retrieved questions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuestionsResponse"},"example":{"success":true,"data":[{"_id":"6657cb7f4f9e80ae6b52f9f1","code":"INSTITUTION_01","question":"Who are you?","objectif":"Provide a brief description of who you are...","required":true,"position":1,"status":"active","created":"2024-05-30T00:42:39.441Z","section":2,"mbti":false}]}}}},"400":{"description":"Bad Request - Invalid request parameters"},"401":{"description":"Unauthorized - Invalid or missing access token"},"500":{"description":"Internal Server Error"}},"security":[{"bearerAuth":[]}]}},"/api/admin/assistants":{"post":{"summary":"Retrieve filtered list of assistants","description":"Fetches a list of AI assistants based on specified filters, with optional minimal data return","tags":["Admin Assistant"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssistantFilterRequest"},"example":{"minimum":true,"institution":"665653e9f7e4f4f1b5c6ef1b"}}}},"responses":{"200":{"description":"Successfully retrieved assistants list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssistantListResponse"}}}},"401":{"description":"Unauthorized - Invalid or missing access token"},"403":{"description":"Forbidden - Insufficient permissions for admin endpoint"},"500":{"description":"Internal server error"}},"security":[{"bearerAuth":[]}]}}},"components":{"schemas":{"DatabaseStatusResponse":{"type":"object","properties":{"message":{"type":"string","description":"Description of database connection states","example":"0: disconnected, 1: connected, 2: connecting, 3: disconnecting, 4: invalid credentials"},"status":{"type":"integer","description":"Current database connection status (0-4)","example":1,"enum":[0,1,2,3,4]}}},"MemoryInfo":{"type":"object","properties":{"rss":{"type":"number","description":"Resident Set Size - total memory allocated for the process"},"heapTotal":{"type":"number","description":"Total heap memory allocated"},"heapUsed":{"type":"number","description":"Heap memory currently in use"},"external":{"type":"number","description":"Memory used by C++ objects bound to JavaScript objects"},"arrayBuffers":{"type":"number","description":"Memory allocated for ArrayBuffers and SharedArrayBuffers"}}},"Dependencies":{"type":"object","properties":{"database":{"type":"number","description":"Database connection status (1 = connected)"}}},"HealthResponse":{"type":"object","properties":{"status":{"type":"string","description":"Overall health status","example":"ok"},"uptime":{"type":"number","description":"Server uptime in seconds"},"timestamp":{"type":"number","description":"Current timestamp in milliseconds"},"memory":{"$ref":"#/components/schemas/MemoryInfo"},"dependencies":{"$ref":"#/components/schemas/Dependencies"}}},"TestUrlRequest":{"type":"object","required":["url"],"properties":{"url":{"type":"string","format":"uri","description":"The URL to be tested","example":"https://domain.edu/7891273"}}},"TestUrlResponse":{"type":"object","properties":{"ltiassigned":{"type":"boolean","description":"Indicates if LTI is assigned","example":true},"name":{"type":"string","description":"Generated name identifier","example":"29167765.hugo770126995."},"status":{"type":"string","description":"Current status of the test","example":"active"},"ainame":{"type":"string","description":"AI name associated with the test","example":""},"picture":{"type":"string","description":"Picture URL or identifier","example":""},"publicId":{"type":"string","format":"uuid","description":"Public identifier for the test","example":"bc6efd03-9d01-43e7-bd49-c4af1c54ae3a"}}},"SignInRequest":{"type":"object","required":["email","password"],"properties":{"email":{"type":"string","format":"email","example":"john.doe@mydomain.com"},"password":{"type":"string","format":"password","example":"iLovePria123"}}},"SignInResponse":{"type":"object","properties":{"token":{"type":"string","description":"JWT authentication token"},"profile":{"$ref":"#/components/schemas/UserProfile"}}},"AutoSignupRequest":{"type":"object","required":["email","fname","lxp_user_id","lxp_user_type","lxp_partner_id","lxp_partner_name","lxp_role_id","lxp_role_name","institution_id","institution_url","client_ip","lticontextid","digitaltwin"],"properties":{"email":{"type":"string","format":"email","example":"john.doe@praxis-ai.com"},"fname":{"type":"string","example":"John"},"lname":{"type":"string","example":"Doe"},"picture":{"type":"string","example":""},"lxp_user_id":{"type":"string","example":"1750665682"},"lxp_user_type":{"type":"integer","example":1},"lxp_partner_id":{"type":"string","example":"1"},"lxp_partner_name":{"type":"string","example":"Edu School"},"lxp_role_id":{"type":"integer","example":123},"lxp_role_name":{"type":"string","example":"Course 123"},"institution_id":{"type":"string","format":"uuid","example":"bc6efd03-9d01-43e7-bd49-c4af1c54ae3a"},"institution_url":{"type":"string","example":"https://domain.edu"},"client_ip":{"type":"string","example":"134.123.234.234"},"lticontextid":{"type":"string","example":"https://domain.edu/course/i12"},"digitaltwin":{"type":"boolean","example":true}}},"InstitutionProfile":{"type":"object","properties":{"_id":{"type":"string"},"name":{"type":"string"},"picture":{"type":"string"},"picture_bg":{"type":"string"},"picture_animated":{"type":"string"},"credits":{"type":"integer"},"status":{"type":"string"},"allowJoining":{"type":"string"},"joiningAdminOnly":{"type":"boolean"},"publicId":{"type":"string","format":"uuid"},"publicAuthorizedUrls":{"type":"array","items":{"type":"string"}},"ainame":{"type":"string"},"contactEmail":{"type":"string","format":"email"},"creditAward":{"type":"integer"},"poolCredits":{"type":"boolean"},"invoices_urls":{"type":"array","items":{"type":"string"}},"maxCompletionTokens":{"type":"integer"},"disableFileUploadForUser":{"type":"boolean"},"toolsDisabled":{"type":"array","items":{"type":"string"}},"ltiContextIds":{"type":"array","items":{"type":"string"}},"personalisationAsked":{"type":"boolean"},"locationEnabled":{"type":"boolean"},"rtEnabled":{"type":"boolean"},"rtAdminOnly":{"type":"boolean"},"displayAgentDetails":{"type":"boolean"},"assistantsDisabled":{"type":"array","items":{"type":"string"}},"disableAssistantsForUser":{"type":"boolean"},"rtVoice":{"type":"string"},"maxFiles":{"type":"integer"},"questionType":{"type":"string"},"creditsTotal":{"type":"integer","nullable":true},"creditsUsagePct":{"type":"number"},"id":{"type":"string"}}},"UserProfile":{"type":"object","properties":{"_id":{"type":"string"},"email":{"type":"string","format":"email"},"fname":{"type":"string"},"lname":{"type":"string"},"picture":{"type":"string"},"accountType":{"type":"string"},"permissions":{"type":"array","items":{"type":"string"}},"customerId":{"type":"string"},"lxp_user_id":{"type":"string"},"lxp_user_type":{"type":"integer"},"lxp_partner_id":{"type":"string"},"lxp_partner_name":{"type":"string"},"lxp_role_id":{"type":"integer"},"lxp_role_name":{"type":"string"},"credits":{"type":"integer"},"creditsUsed":{"type":"integer"},"plan":{"type":"string"},"status":{"type":"string"},"trial_end":{"type":"string","format":"date-time"},"trial_used":{"type":"boolean"},"current_period_end":{"type":"string","format":"date-time"},"cancel_at_period_end":{"type":"boolean"},"referralId":{"type":"string","format":"uuid"},"referrerPaid":{"type":"boolean"},"resetCodeId":{"type":"string","format":"uuid"},"invoices_urls":{"type":"array","items":{"type":"string"}},"remember_history_count":{"type":"integer"},"browser_voice":{"type":"string"},"rt_voice":{"type":"string"},"use_location":{"type":"boolean"},"pin_ui":{"type":"boolean"},"dark_mode":{"type":"boolean"},"max_dialogues":{"type":"integer"},"created":{"type":"string","format":"date-time"},"__v":{"type":"integer"},"institution":{"$ref":"#/components/schemas/InstitutionProfile"}}},"AutoSignupResponse":{"type":"object","properties":{"token":{"type":"string","description":"JWT authentication token"},"profile":{"$ref":"#/components/schemas/UserProfile"}}},"CreateInstitutionRequest":{"type":"object","required":["name","contactEmail","ltiContextIds"],"properties":{"name":{"type":"string","description":"Institution name identifier","example":"teacher1.domain.edu.instructure"},"contactEmail":{"type":"string","format":"email","description":"Contact email for the institution","example":"jane.doe@praxis-ai.com"},"ltiContextIds":{"type":"array","items":{"type":"string"},"description":"Array of LTI context identifiers","example":["https://domain.edu/7891278"]},"publicAuthorizedUrls":{"type":"array","items":{"type":"string"},"description":"Array of authorized public URLs","example":["https://domain.edu"]},"ainame":{"type":"string","description":"AI assistant name","example":"Hugo"},"picture":{"type":"string","format":"uri","description":"URL to the institution's picture/avatar","example":"https://hiimpria.ai/uploads/6430736fd62d650040420674/Clarkey20Headshot20Animated_1752713782148.gif"},"picture_bg":{"type":"string","description":"Background picture URL","example":""},"picture_animated":{"type":"string","format":"uri","description":"URL to animated picture/avatar","example":"https://hiimpria.ai/uploads/6430736fd62d650040420674/Clarkey20Headshot20Animated_1752713782148.gif"},"prompt":{"type":"string","description":"Custom prompt for the AI","example":""},"domain":{"type":"string","description":"Institution domain","example":"domain.edu"}}},"CreateInstitutionResponse":{"type":"object","properties":{"_id":{"type":"string","description":"Unique institution identifier","example":"68793ef2a8a4a5eaff36e7ca"},"name":{"type":"string","example":"teacher1.domain.edu.instructure"},"picture":{"type":"string","format":"uri","example":"https://hiimpria.ai/uploads/6430736fd62d650040420674/Clarkey20Headshot20Animated_1752713782148.gif"},"picture_bg":{"type":"string","example":""},"picture_animated":{"type":"string","format":"uri","example":"https://hiimpria.ai/uploads/6430736fd62d650040420674/Clarkey20Headshot20Animated_1752713782148.gif"},"credits":{"type":"number","description":"Total credits allocated","example":50},"creditsUsed":{"type":"number","description":"Credits consumed","example":0},"creditsAwarded":{"type":"number","description":"Credits awarded","example":0},"creditsTotal":{"type":"number","description":"Total available credits","example":50},"creditsUsagePct":{"type":"number","description":"Percentage of credits used","example":0},"status":{"type":"string","enum":["active","inactive"],"example":"active"},"allowJoining":{"type":"string","enum":["enabled","disabled"],"example":"disabled"},"joiningAdminOnly":{"type":"boolean","example":false},"publicId":{"type":"string","format":"uuid","description":"Public identifier for the institution","example":"2e1006ec-5b59-4431-96d2-b0e1b1022a3a"},"publicAuthorizedUrls":{"type":"array","items":{"type":"string"},"example":["https://domain.edu"]},"ainame":{"type":"string","example":"Hugo"},"prompt":{"type":"string","example":""},"contactEmail":{"type":"string","format":"email","example":"jane.doe@praxis-ai.com"},"creditAward":{"type":"number","example":0},"poolCredits":{"type":"boolean","example":true},"invoices_urls":{"type":"array","items":{"type":"string"},"example":[]},"kmeanScore":{"type":"number","format":"float","example":0.45},"ragLimitChunks":{"type":"number","example":2},"maxCompletionTokens":{"type":"number","example":-1},"disableFileUploadForUser":{"type":"boolean","example":false},"toolsDisabled":{"type":"array","items":{"type":"string"},"example":[]},"ltiContextIds":{"type":"array","items":{"type":"string"},"example":["https://domain.edu/7891278"]},"canvasAPIScope":{"type":"array","items":{"type":"string"},"example":["url:GET|/api/v1/courses/:course_id/smartsearch"]},"personalisationAsked":{"type":"boolean","example":false},"kalturaIsAdminSecret":{"type":"boolean","example":false},"entitleNewAdmins":{"type":"boolean","example":false},"locationEnabled":{"type":"boolean","example":true},"enableModeration":{"type":"boolean","example":false},"alwaysCiteSources":{"type":"boolean","example":true},"rtEnabled":{"type":"boolean","example":false},"rtAdminOnly":{"type":"boolean","example":true},"displayAgentDetails":{"type":"boolean","example":true},"assistantsDisabled":{"type":"array","items":{"type":"string"},"example":[]},"disableAssistantsForUser":{"type":"boolean","example":false},"rtVoice":{"type":"string","example":""},"maxFiles":{"type":"number","example":300},"aiWebSearch":{"type":"boolean","example":true},"questionType":{"type":"string","enum":["CORPORATE","ACADEMIC","PERSONAL"],"example":"CORPORATE"},"created":{"type":"string","format":"date-time","example":"2025-07-17T18:20:34.330Z"},"id":{"type":"string","example":"68793ef2a8a4a5eaff36e7ca"}}},"AccountMinimal":{"type":"object","properties":{"_id":{"type":"string","description":"Unique identifier for the account"},"name":{"type":"string","description":"Name of the account/institution"},"domainUrls":{"type":"array","items":{"type":"string"},"description":"Array of domain URLs associated with the account"}}},"AccountsRequest":{"type":"object","properties":{"minimum":{"type":"boolean","description":"Flag to return minimal account information"}}},"AccountsResponse":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates if the request was successful"},"data":{"type":"array","items":{"$ref":"#/components/schemas/AccountMinimal"},"description":"Array of account objects"}}},"Account":{"type":"object","properties":{"_id":{"type":"string","description":"Account ID"},"name":{"type":"string","description":"Account name"}}},"Institution":{"type":"object","properties":{"_id":{"type":"string","description":"Unique identifier for the institution"},"name":{"type":"string","description":"Institution name"},"picture":{"type":"string","description":"URL to institution picture/logo"},"credits":{"type":"integer","description":"Available credits for the institution"},"creditsUsed":{"type":"integer","description":"Number of credits used"},"creditsAwarded":{"type":"integer","description":"Credits awarded to the institution"},"status":{"type":"string","enum":["active","inactive"],"description":"Institution status"},"publicId":{"type":"string","description":"Public identifier for the institution"},"publicAuthorizedUrls":{"type":"array","items":{"type":"string"},"description":"List of authorized URLs for the institution"},"ainame":{"type":"string","description":"AI assistant name for the institution"},"contactEmail":{"type":"string","description":"Contact email for the institution"},"poolCredits":{"type":"boolean","description":"Whether institution uses pooled credits"},"created":{"type":"string","format":"date-time","description":"Institution creation timestamp"},"conversationModel":{"type":"string","description":"AI conversation model used"},"account":{"$ref":"#/components/schemas/Account"},"maxCompletionTokens":{"type":"integer","description":"Maximum completion tokens allowed"},"creditsTotal":{"type":"number","description":"Total credits available","nullable":true},"creditsUsagePct":{"type":"number","description":"Percentage of credits used"},"id":{"type":"string","description":"Institution ID"}}},"InstitutionListRequest":{"type":"object","properties":{"minimum":{"type":"boolean","description":"Whether to return minimal institution data"}}},"InstitutionListResponse":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether the request was successful"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Institution"},"description":"Array of institution objects"}}},"InstitutionResponse":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether the request was successful"},"data":{"$ref":"#/components/schemas/Institution"}}},"InstitutionUpdateRequest":{"type":"object","required":["name","account","status","credits","publicId"],"properties":{"name":{"type":"string","description":"Institution domain name","example":"28615560.marcodivittorio.utoronto-dev.instructure.com"},"account":{"type":"string","description":"Account ID reference","example":"66cffaa6b359c109fb06d839"},"status":{"type":"string","enum":["active","inactive"],"description":"Institution status","example":"inactive"},"credits":{"type":"integer","description":"Number of credits allocated","example":50},"publicId":{"type":"string","description":"Public UUID identifier","example":"c98291e9-12e7-4304-b47b-ab18b0968a02"},"publicAuthorizedUrls":{"type":"array","items":{"type":"string"},"description":"List of authorized URLs","example":["https://utoronto-dev.instructure.com","https://canvas.instructure.com"]},"picture":{"type":"string","description":"Institution picture URL"},"picture_bg":{"type":"string","description":"Background picture URL"},"picture_animated":{"type":"string","description":"Animated picture URL"},"ainame":{"type":"string","description":"AI assistant name","example":"Pria"},"prompt":{"type":"string","description":"Default AI prompt","example":"What can I do for you?"},"contactEmail":{"type":"string","format":"email","description":"Contact email address","example":"marco.divittorio@utoronto.ca"},"creditAward":{"type":"integer","description":"Credit award amount","example":0},"poolCredits":{"type":"boolean","description":"Whether to pool credits","example":true},"kmeanScore":{"type":"number","format":"float","description":"K-means clustering score","example":0.45},"disableFileUploadForUser":{"type":"boolean","description":"Disable file upload for users","example":false},"disableAssistantsForUser":{"type":"boolean","description":"Disable assistants for users","example":false},"ltiContextIds":{"type":"array","items":{"type":"string"},"description":"LTI context identifiers"},"personalisationAsked":{"type":"boolean","description":"Whether personalization was asked","example":false},"kalturaIsAdminSecret":{"type":"boolean","description":"Kaltura admin secret flag","example":false},"kalturaUserId":{"type":"string","description":"Kaltura user ID"},"entitleNewAdmins":{"type":"boolean","description":"Entitle new administrators","example":false},"locationEnabled":{"type":"boolean","description":"Location services enabled","example":true},"enableModeration":{"type":"boolean","description":"Content moderation enabled","example":false},"ragLimitChunks":{"type":"integer","description":"RAG limit chunks","example":2},"maxFiles":{"type":"integer","description":"Maximum number of files","example":300},"alwaysCiteSources":{"type":"boolean","description":"Always cite sources","example":true},"canvasAPIScope":{"type":"array","items":{"type":"string"},"description":"Canvas API scope permissions"},"rtEnabled":{"type":"boolean","description":"Real-time features enabled","example":false},"rtAdminOnly":{"type":"boolean","description":"Real-time admin only","example":true},"displayAgentDetails":{"type":"boolean","description":"Display agent details","example":true},"rtVoice":{"type":"string","description":"Real-time voice setting"},"maxCompletionTokens":{"type":"integer","description":"Maximum completion tokens (-1 for unlimited)","example":-1},"allowJoining":{"type":"string","enum":["enabled","disabled"],"description":"Allow joining setting","example":"disabled"},"joiningAdminOnly":{"type":"boolean","description":"Joining admin only","example":false},"aiWebSearch":{"type":"boolean","description":"AI web search enabled","example":true},"questionType":{"type":"string","enum":["INSTITUTION","CORPORATE"],"description":"Question type classification"}}},"InstitutionUpdateResponse":{"type":"object","properties":{"success":{"type":"boolean","example":true},"message":{"type":"string","example":"Instance updated!"}}},"Question":{"type":"object","properties":{"_id":{"type":"string","description":"Unique identifier for the question"},"code":{"type":"string","description":"Question code identifier"},"question":{"type":"string","description":"The actual question text"},"objectif":{"type":"string","description":"Objective or purpose of the question"},"required":{"type":"boolean","description":"Whether the question is required"},"status":{"type":"string","description":"Status of the question (active/inactive)"},"position":{"type":"integer","description":"Position order of the question"},"created":{"type":"string","format":"date-time","description":"Creation timestamp"},"section":{"type":"integer","description":"Section number the question belongs to"},"mbti":{"type":"boolean","description":"Whether question is related to MBTI assessment"},"__v":{"type":"integer","description":"Version key"}}},"InstitutionQuestion":{"type":"object","properties":{"_id":{"type":"string","description":"Unique identifier for the institution question"},"question":{"$ref":"#/components/schemas/Question"},"institution":{"$ref":"#/components/schemas/Institution"},"answer":{"type":"string","description":"Answer to the question"},"created":{"type":"string","format":"date-time","description":"Creation timestamp"},"__v":{"type":"number","description":"Version key"}}},"InstitutionQuestionsResponse":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether the request was successful"},"data":{"type":"array","items":{"$ref":"#/components/schemas/InstitutionQuestion"},"description":"Array of institution questions"}}},"InstitutionQuestionsRequest":{"type":"object","properties":{"minimum":{"type":"boolean","description":"Whether to return minimum data"},"institution":{"type":"string","description":"Institution ID to filter questions"}},"required":["institution"]},"QuestionRequest":{"type":"object","properties":{"minimum":{"type":"boolean","description":"Flag to return minimal question data"},"questionType":{"type":"string","enum":["INSTITUTION","CORPORATE"],"description":"Type of questions to retrieve"}},"required":["questionType"]},"QuestionsResponse":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates if the request was successful"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Question"},"description":"Array of questions"}}},"AssistantResponse":{"type":"object","properties":{"_id":{"type":"string","description":"Unique identifier for the assistant"},"name":{"type":"string","description":"Name of the assistant"},"description":{"type":"string","description":"Detailed description of the assistant's capabilities"},"instructions":{"type":"string","description":"Detailed instructions for the assistant's behavior"},"picture_url":{"type":"string","description":"URL path to the assistant's profile picture"},"status":{"type":"string","enum":["active","inactive"],"description":"Current status of the assistant"},"liked_count":{"type":"integer","description":"Number of likes the assistant has received"},"admin_only":{"type":"boolean","description":"Whether the assistant is restricted to admin users only"},"institution_shared":{"type":"boolean","description":"Whether the assistant is shared across institutions"},"remember_history":{"type":"integer","description":"Number of conversation history items to remember"},"created":{"type":"string","format":"date-time","description":"Creation timestamp"},"__v":{"type":"integer","description":"Version key"},"argument_1":{"type":"string","nullable":true,"description":"Optional argument parameter"},"argument_5":{"type":"string","nullable":true,"description":"Optional argument parameter"},"editable_others":{"type":"boolean","description":"Whether others can edit this assistant"}}},"AssistantListResponse":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates if the request was successful"},"data":{"type":"array","items":{"$ref":"#/components/schemas/AssistantResponse"},"description":"Array of assistant objects"}}},"AssistantFilterRequest":{"type":"object","properties":{"minimum":{"type":"boolean","description":"Whether to return minimal assistant data"},"institution":{"type":"string","description":"Institution ID to filter assistants by"}}}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"JWT token passed in x-access-token header"}}},"tags":[]}